<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
    aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link text-white" *ngIf="isLogged" href="#" routerLink="/home" type="button">Home </a>
      </li>

      <li class="nav-item active" *ngIf="isLogged">
        <a class="nav-link text-white" href="#" routerLink="/home" type="button">Productos </a>
      </li>



    </ul>


    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <form class="form-inline my-2 my-lg-0">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a *ngIf="!isLogged"  class="btn btn-outline-success my-2 my-sm-0" href="#" routerLink="/login" type="button">Iniciar Sesión </a>
        </li>


        <li class="nav-item active">
          <a *ngIf="isLogged"   class="btn btn-outline-success my-2 my-sm-0" href="#" (click)="onLogOut()" type="button">Cerrar Sesión </a>
        </li>


      </ul>

     <!--  <a *ngIf="!isLogged"  href="#" class="btn btn-outline-success my-2 my-sm-0" routerLink="/login" type="button">
        <i class="fas fa-sign-in-alt"></i> Iniciar Sesión</a>

        <a *ngIf="isLogged"  href="#"  class="btn btn-outline-success my-2 my-sm-0" (click)="onLogOut()" type="button">
          <i class="fas fa-sign-in-alt"></i>
          <i class="fas fa-door-open"></i> Cerrar Sesión</a> -->
    </form>

  </div>
</nav>