<p>List of Products</p>
<button  type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalNew" >New</button>      

<table class="table table-striped">
  <thead class="table-dark">
    <tr>

      <th>Id</th>
      <th>Nombre</th>
      <th>Precio</th>
      <th scope="col" *ngIf="isAdmin">Editar</th>
      <th scope="col" *ngIf="isAdmin">Borrar</th>

    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let producto of productos">
        <td>{{producto.id}}</td>
        <td>{{producto.nombre}}</td>
        <td>{{producto.precio}} $</td>
      
        <td *ngIf="isAdmin"><button class="btn btn-outline-warning" routerLink="/editar/{{producto.id}}"><i class="far fa-edit"></i> Editar</button></td>
    

  </tbody>
</table>